@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  background: #333;
  color: #ccc;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}
h1,
h2 {
  font-weight: 300;
  margin: 0.4rem;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
  color: #aaa;
}

.txt-type > .txt {
  border-right: 0.2rem solid #777777;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 5 rem;
  }
}
@media (max-width: 800px) {
  .container {
    padding: 0 1rem;
  }
  h1 {
    font-size: 3 rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 2.5 rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
