@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f8f8f8;
    font-family: 'Nunito', sans-serif;
}

.input-box {
    position: relative;
    width: 450px;
}

.input-box h2 {
    font-size: 28px;
    color: #333;
}

.input-box input {
    position: relative;
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    margin: 15px 0 20px;
    background: transparent;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: 2PX;
    border-radius: 8px;
    color: #333;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
                inset 4px 4px 10px rgba(0, 0, 0, 0.05);
}
.input-box input::placeholder {
    letter-spacing: 0px;
}

.input-box #btn {
    /* display: block; */
    position: relative;
    cursor: pointer;
    color: #fff;
    /* background: #333; */
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    font-size: 24px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
}

.input-box #btn:active {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.input-box .copy{
    
    height: 20px;
    width: 20px;
    position: absolute;
    top: 64px;
    right: 15px;
    cursor: pointer;
    opacity: 0.3;
}

.input-box .copy:hover {
    opacity: 1;
}
